<div class="page-wrapper page-wrapper__episode">

{% if page.header %}
  {{ page.header }}
{% endif %}

{{ page.navigation }}

{% if page.info %}
  {{ page.info }}
{% endif %}

{{ page.content }}

{# Leaflet map placeholder region. #}
{{ page.map }}

{% if page.footer %}
  {{ page.footer }}
{% endif %}

</div>
