<div class="song-teaser">
  <div class="song-teaser__text">
    {{ label }}
    {{ content.field_year }} {{ content.field_artist }} {{ content.field_album }}
    <div class="song-teaser__coords hidden">
      {{ content.field_place }}
    </div>
  </div>
  <div class="song-teaser__button">
    <button class="button--info">
      <span class="qmark">?</span>
    </button>
  </div>
</div>