<div class="song-teaser">
  <div class="song-teaser__text">
    {{ label }}
    {{ content.field_year }}
    <span class="data--song-artist">{{ content.field_artist }}</span>
    {{ content.field_album }}
    <div class="song-teaser__coords hidden">
      {{ content.field_place }}
    </div>
    <span class="data--song-description hidden">{{ content.body[0]['#text'] | raw }}</span>
  </div>
  <div class="song-teaser__button">
    <button class="button--info">
      <span class="qmark">?</span>
    </button>
  </div>
</div>