{% if content %}
  <div {{ attributes.addClass('song-teaser') }}>

    {% if content.title %}
      <div {{ region_attributes.title.addClass('song-title') }}>
        {{ content.title }}
      </div>
    {% endif %}

    {% if content.details %}
      <div {{ region_attributes.details.addClass('song-details') }}>
        {{ content.details }}
      </div>
    {% endif %}

    {% if content.description %}
      <div {{ region_attributes.description.addClass('song-description') }}>
        {{ content.description }}
      </div>
    {% endif %}

  </div>
{% endif %}
