{#{{ dump(content.field_location["#items"].0.lat) }}
{{ dump(content.field_location["#items"].0.lon) }}
{{ dump(content.field_location["#items"].0.latlon) }}#}

{#{{ content.field_location["#items"].0.lat }}#}
{#{{ content.field_location["#items"].0.lon }}#}
{#{{ content.field_location["#items"].0.latlon }}#}

<a class="place-link" onmouseover="highlightLocation({{ content.field_location["#items"].0.lat }},{{ content.field_location["#items"].0.lon }},'{{ content.field_location["#items"].0.latlon }}', 'Donec id elit non mi porta gravida at eget metus.')"
   onmouseout="leaveLocation()"
   class="map-link map-link-01">{{ content.field_location["#items"].0.latlon }}</a>
