
{% set linkUrl = content.field_link[0]['#url'].uri %}
{% set linkText = content.field_link[0]['#title'] %}
{% set title = content.field_title[0]['#context'].value %}
{% set description = content.field_description[0]['#text'] %}

{% set ImageEntity = content.field_featured_image[0]['#item'].entity %}
{% set ImageURI = ImageEntity.uri[0].value %}
{% set ImageThumb = ImageURI | image_style('square_medium') %}

{% if ImageURI is null %}
  {% set extraClass = 'no-image' %}
{% else %}
  {% set extraClass = 'has-image' %}
{% endif %}

<div class="paragraph paragraph--portfolio-item{{ ' ' ~ extraClass }}">
  {% if ImageURI is not null %}
    <div class="image">
      <div class="inner">
        <a href="{{ linkUrl }}" target="_blank" class="shadow"></a>
        <a href="{{ linkUrl }}" target="_blank"><img src="{{ ImageThumb }}" /></a>
      </div>
    </div>
  {% endif %}

  <div class="text">
    <div class="inner">
      <h4 class="paragraph-title">{{ title }}</h4>
      <a href="{{ linkUrl }}" class="paragraph-link" target="_blank">{{ linkText }}</a>
      <div class="paragraph-description">
        {{ description | raw }}
      </div>
    </div>
  </div>
</div>
